.vs/
bin-int/
bin/

HazelBabaliaris.sln

Sandbox/Sandbox.vcxproj
Sandbox/Sandbox.vcxproj.filters
Sandbox/Sandbox.vcxproj.user

Hazel/Hazel.vcxproj
Hazel/Hazel.vcxproj.filters
Hazel/Hazel.vcxproj.user

Hazel/vendor/Glad/Glad.vcxproj
Hazel/vendor/Glad/Glad.vcxproj.filters
Hazel/vendor/Glad/Glad.vcxproj.user

Hazel/vendor/glfw/GLFW.vcxproj
Hazel/vendor/glfw/GLFW.vcxproj.filters
Hazel/vendor/glfw/GLFW.vcxproj.user

Hazel/vendor/imgui/ImGui.vcxproj
Hazel/vendor/imgui/ImGui.vcxproj.filters
Hazel/vendor/imgui/ImGui.vcxproj.user